@mixin flex-col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin drop-shadow {
    box-shadow: 0 2px 4px 1px var(--drop-shadow);
}

:root {
    --mint-cream: #f1fffaff;
    --tea-green: #ccfccbff;
    --celadon: #96e6b3ff;
    --middle-green: #568259ff;
    --ebony: #464e47ff;
    --ebony-translucent: rgba(70, 78, 71, 85%);
    --ebony-light: #5c685d;
    --text-light: #ffffff;
    --drop-shadow: rgba(0, 0, 0, 0.5);
}

html {
    font-size: 1em;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    ul {
        @include flex-row-centered;
        margin: 0;
        padding: 1em;
        list-style: none;

        li {
            padding: 0.5em;

            a {
                color: var(--ebony);
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    color: var(--ebony-light);
                }
            }
        }
    }
}

.hero {
    @include drop-shadow;
    margin-top: 0;
    background-color: var(--tea-green);
    padding: 2em;
    border-radius: 5px;
    background: url("https://images.unsplash.com/photo-1457282168619-2383c79b278d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1354&q=80");
    background-size: cover;
    color: var(--text-light);

    @include flex-col-centered;

    h1 {
        font-size: 4rem;
        line-height: 0;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        background-color: var(--ebony-translucent);
        padding: 1em 2em;
        border-radius: 5px;
        max-width: 75ch;
    }

    &-content {
        @include flex-col-centered;
    }
}

.btn {
    @include drop-shadow;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    font-size: 1.5em;
    color: var(--text-light);
    background-color: var(--ebony);
    cursor: pointer;

    &:hover {
        background-color: var(--ebony-light);
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    max-width: 100%;
    padding: 1em;
}

.card {
    @include drop-shadow;
    margin-top: 10em;
    padding: 1em 2em;
    background-color: var(--middle-green);
    color: var(--text-light);
    border-radius: 5px;

    &-title {
        font-size: 2rem;
        border-bottom: 1px solid var(--celadon);
    }

    &-body {
        max-width: 45ch;
        line-height: 1.5rem;
    }
}

/*
    Medium and Small Screens
 */
@media screen and (max-width: 768px) {
    .hero {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .card {
        margin-top: 2em;
    }
}
